attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
cffi==1.16.0
constantly==15.1.0
cryptography==41.0.4
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
kazoo==2.5.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pykafka==2.8.0
pyOpenSSL==23.2.0
roslibpy==1.5.0
service-identity==23.1.0
six==1.16.0
tabulate==0.9.0
twisted==23.8.0
txaio==23.1.1
typing-extensions==4.8.0
zope.interface==6.1
